body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("img/site/body.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: auto;
}

header {
  background-image: url("img/site/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto;
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  gap: 5em;
  align-items: center;
  float: center;
  justify-content: center;
  background-color: #000000;
}

section {
  padding: 10px;
  color: #e6e3ee;
}

section#about {
  padding: 30px 0;
  line-height: 1em;
}

section#portfolio {
  padding: 10px 0;
  line-height: 1em;
}

section#contact {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  gap: 1em;
  align-items: center;
  float: center;
  justify-content: center;
  padding: 50px 0;
  line-height: 1em;
}

footer {
  position: absolute;
  padding: 10px 0;
  color: #e6e3ee;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  width: 100%;
  height: auto;
}

html, button {
  cursor: url("img/icons/cursor.png"), pointer;
}

a:hover {
  cursor: url("img/icons/grabcursor.png"), pointer;
}

img:hover {
  cursor: url("img/icons/grabcursor.png"), pointer;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

p {
  margin-top: 2em;
  margin-bottom: 1em;
 } 
 
.link {
  text-decoration: none;
  color: #ffffff;
  transition: color 1s;
}
.link:hover {
  color: #772f7e;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.txt-rotate {
  font-size: 20px;
}

.text {
  text-align: right;
  margin-left: 100px;
  height: 100px;
}

.image {
  margin-left: 30px;
}

.scale {
  display: inline-block;
  overflow: hidden;
 }

.scale img {
  transition: 1s;
  display: block;
 }
 
.scale img:hover {
  transform: scale(1.2);
 }